<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Example</title>
    <style>
       .button {
    background-color: #87CEEB;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;

}

    </style>
</head>
<body>


        <a href="" class="button">Home</a>
        <a href="Shopping_car" class="button">Cars</a>



</body>
</html>