<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
</head>
<body>
    <h1>Cars List is below </h1>
    <p>Ferrari ,
        Toyota ,
        Dacia ,
        frod ,
        lamborgini ,
        Mazada ,
        Mayariam ,
        VRAJ </p>
<h2>Cars Colors</h2>
<p>
    red, pink , blue , yellow , black , grey , sky-blue
</p>
<h3>
    Car Price is below
</h3>
<p>
    3000 pounds
    3500 pounds
    4000 pounds
    5000 pounds
    5500 pounds
</p>
<h4>Number Plates</h4>
<p>

     M2403I,
     A0102 ,
     V228M ,
     E1804P
</p>
</body>
</html>